.site-footer {
	background-color: #214083;
	font-size: 14px;
	line-height: 1.9em;
	
	.block {
		color: #fff; 

		@media (max-width: $screen-sm-min + 1px) {
			padding: 20px;

			.footer-widget {
				border-bottom: 5px solid rgba(255,255,255,.1);
				padding-bottom: 10px;
				margin-bottom: 30px;
			}
		}
	}


	
	a {
		color: #53b1f9;

		&:hover,
		&:focus  {
			color: #fff;
		}

		&:visited {
			color: #5a9fd4;
		}
	}

	.footer-widget-title {
		color: #c4c4c4;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	li {
		list-style-type: none;
	}

	.site-info {
		margin: 38px 0px;
		padding: 5px 10px;
		background: rgba(0,0,0,.1);
		color: #fff;
		display: inline-block;
		width: 100%;
	}

	.right {
		float: right;
		text-align: right;
	}

	.left {
		float: left;
		text-align: left;
	}
	
	.social a {

		.item-list {
			margin-bottom: 7px;
		}

		font-size: 15px;

		.social-title {
			font-family: sans-serif;
			margin-left: 12px;
		}

		i.fa {
			color: #fff;
			font-size: 18px;
		}
	}

}