.section--fullwidth {
	padding: 100px 0;
	text-align: center;
}

.section--darker {
	background: #fbfbfb;
}

.section-icon .fa{
	color: #dedede;
}

.header-title--small {
	color: #bebebe; 
}

/*Testimonial*/
.testimonial--content {
	font-size: 120%;
}