.xx_slider {
	position: absolute;
	top: 0;
	z-index: 1;
	max-width: 100%;
}

.slider-thumbnail {
	position: relative;

	&.black-overlay:before {
		content: "";
		position: absolute;
		background-color: #000;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: .55;
	}
}

.slider-desc {
	font-size: 95%;
	font-weight: 300;
}

.slider-content {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 30%;
	z-index: 2;

	.slider-title {
		text-transform: uppercase;
	}

	.slider-title,
	.slider-desc {
		max-width: 70%;
		margin: auto;
	}
}

.text-inside {
	color: $color__white;
}
