button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__border-button;
	background-color: transparent;
	color: $color__text-input;
	width: 100%;
	padding: 14px 18px;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 3px;
	line-height: normal;
	max-width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;

	&:hover,
	&:active,
	&:focus {
		border-color: $color__border-button-hover;
		background-color: $color__primary;
		color: #fff;
	}
}
