.animate--overlay-dark {
	
	&:before {
		content: "";
		position: absolute;
		background: rgba(0,0,0,.3);
		z-index: 2;
		transition: 200ms;
		width: 100%;
		transform: scale(.8);
		opacity: 0;
		top: 0;
		left: 0;
	}

	&:hover:before{
		transform: scale(1);
		opacity: 1;
		transition: 150ms;
		height: 100%; 
	}
}