.block {
	font-size: 14px;
	color: #575757;
	padding: 30px 55px;
}

.block.about {
	background: linear-gradient(#2a52a6,#183165);
	display: inline-block;
	color: #fff;

	.entry-title {
		margin: 0;
	}
}

.block.features {
	display: inline-block;
	background-color: #fff;

	.entry-title {
		margin-top: 0;
		font-size: 18px;
		color: #39454f;
		text-transform: capitalize;
		width: 100%;
		text-align: center;
	}

	.box {
		background-color: #ebebeb;
		border-radius: 10px;
		border: 4px solid #c6c6c6;
		padding: 14px;
		display: inline-block;
		min-height: 425px;
	}

	.future-project .thumbnail {
		overflow: hidden;
		max-height: 153px;
		margin-bottom: 20px;
	}

	.latest-projects .title{
		font-size: 16px;
		font-weight: bold;
		color: #575757;
		margin-top: 10px;

		p {
			margin-top: 5px;
		}
	}
	
	p {
		line-height: 1.6em;
	}
}