$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #a9a9a9;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #1e3a78;

$color__border-button: #d6d6d6;
$color__border-button-hover: #f2ea90;
$color__border-button-focus: #f2ea90;
$color__border-input: #e5e5e5;
$color__border-abbr: #666;

$color__primary: #f2ea90;
$color__white: #fff;
$color_darkgray: #373737;
$color_gray: gray;
$color_lightgray: lightgray;

