.main-navigation {
	ul {
		list-style: none;
		padding-left: 0;
		display: inline-block;
		float: right;
		margin-right: -15px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				color: #fff;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__white;
			
			&:after {
				transform: scaleX(1);
				transition: 250ms;
			}
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $color_gray;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		font-size: 81%;
		letter-spacing: 1px;
		padding: 10px 15px;
		background: transparent;

		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			height: 2px;
			background-color: $color__primary;
			width: 100%;
			left: 25%;
			max-width: 50%;
			transform: scaleX(0);
			transition: 150ms;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__white;

		&:after {
			transform: scaleX(1);
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
