.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 20px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				color: #fff;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: right;
		position: relative;

		&:hover > a,
		&.focus > a {
		}

		@media (max-width: $screen-sm-min + 1px) {
			float: none;
			margin-bottom: 2px;
		}
	}
	a {
		display: block;
		text-decoration: none;
		background: linear-gradient(#213f82,#1b346b);
		color: #fff;
		padding: 6px 20px;
		border-radius: 7px 7px 0 0;
		border: 3px solid #14316f;
		min-width: 120px;
		font-size: 14px;
		text-transform: capitalize;
		text-align: center;
		margin-left: 3px;

		@media (max-width: $screen-sm-min + 1px) {
			border-radius: 0;
			margin: 0;
			min-width: 0;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
