.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

#secondary {
	margin-top: 3em;
}

.widget-title {
	color: #fff;
	background: #214083;
	font-size: 13px;
	text-transform: uppercase;
	padding: 4px 10px;
}

.widget{
	background: #f3f3f3;
    padding: 20px;
    line-height: 2em;
}